

.carousel-item{
    background: no-repeat scroll center scroll;
    background-size: cover;
}
.carousel-item::before{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #000;
    opacity: 0.5;
}
.carousel-caption button{
    font-size: 2vmin;
}
.carousel-caption h1{
    font-size: 4vw;
    
}
.carousel-caption p{
    font-size: 2vmin;
}
#course-h1{
    margin-top: 3rem;
    width: 50%;
}
.d-course-p{
    width: 65%;
}
#ready{
    height: 300px;
}
footer{
    height: 400px;
}
@media only screen and (min-width: 200px) and (max-width: 575px){
    .carousel-caption{
        padding-bottom: 0px;
    }
    .carousel-caption h1{
        font-size: 5vw;
        
    }
    .carousel-caption p{
        font-size: 2.5vw;
    }
    #course-h1{
        width: 75%;
    }
    .d-course-p{
        width: 80%;
    }   
    .cover{
        height: 250px;
        width: 100%;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        background-size: cover;
        background-color: #000;
    }
    footer{
        height: 300px;
    }
}
@media only screen and (min-width: 576px) and (max-width: 900px){
    .carousel-caption{
        padding-bottom: 0px;
    }
    .carousel-caption button{
        font-size: 2vmin;
    }
    .carousel-caption h1{
        font-size: 5vw;
        
    }
    .carousel-caption p{
        font-size: 1.5vw;
    }
}

